.spectrum-color { 
	position:relative; 
}
.spectrum-g1 {
	background-image: -webkit-gradient(linear,  0 0, 100% 0, from(#FFF), to(rgba(204, 154, 129, 0)));
    background-image: -moz-linear-gradient(left, #fff, rgba(204, 154, 129, 0));
    background-image: -moz-gradient(left, #fff, rgba(204, 154, 129, 0));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType = 1, startColorstr=#FFFFFFFF, endColorstr=#00CC9A81)";
    filter : progid:DXImageTransform.Microsoft.gradient(GradientType = 1, startColorstr='#FFFFFFFF', endColorstr='#00CC9A81');
    
}
.spectrum-g2 {
    background-image: -webkit-gradient(linear, 0 100%, 0 0, from(#000000), to(rgba(204, 154, 129, 0)));
    background-image: -moz-linear-gradient(center bottom, #000, rgba(204, 154, 129, 0));
    background-image: -moz-gradient(center bottom, #000, rgba(204, 154, 129, 0));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00CC9A81, endColorstr=#FF000000)";
    filter : progid:DXImageTransform.Microsoft.gradient(startColorstr='#00CC9A81', endColorstr='#FF000000');
}

.spectrum-drag-helper { 
	position:absolute; 
	top:0; 
	left: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
.spectrum-color { 
	float:left;
}
.spectrum-container { 
	position:absolute; 
	top:0; 
	left:0; 
}
.spectrum-container.spectrum-flat {
	position:static;
	display:inline-block;
}
.spectrum-slide {
    position:relative;
    float:left;
    background: -webkit-linear-gradient(top, #FF0000 0%, #FFFF00 12%, #0BED00 25%, #00FF40 37%, #00FFFF 50%, #0040ff 62%, #8000ff 75%, #ff00ff 87%, #ff0000 100%); 
    background: -moz-linear-gradient(top, #FF0000 0%, #FFFF00 12%, #0BED00 25%, #00FF40 37%, #00FFFF 50%, #0040ff 62%, #8000ff 75%, #ff00ff 87%, #ff0000 100%); 
}
.spectrum-replacer {
	display:inline-block;
}
.spectrum-ie-1 { 
    height:12%; 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0000', endColorstr='#FFFF00');
}
.spectrum-ie-2 { 
    height:13%; 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFF00', endColorstr='#0BED00');
}
.spectrum-ie-3 { 
    height:12%; 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0BED00', endColorstr='#00FF40');
}
.spectrum-ie-4 { 
    height:13%; 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00FF40', endColorstr='#00FFFF');
}
.spectrum-ie-5 { 
    height:12%; 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00FFFF', endColorstr='#0040ff');
}
.spectrum-ie-6 { 
    height:13%; 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0040ff', endColorstr='#8000ff');
}
.spectrum-ie-7 { 
    height:12%; 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8000ff', endColorstr='#ff00ff');
}
.spectrum-ie-8 { 
    height:13%; 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff00ff', endColorstr='#ff0000');
}

.spectrum-slide-helper { 
	position: absolute; 
	top:0; 
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

/* Themable options */
.spectrum-g2, .spectrum-g1, .spectrum-slide { 
	width: 200px; 
	height: 200px; 
}
.spectrum-container { 
	background-color: #333; 
	padding:10px; 
	border-radius: 5px; 
}
.spectrum-drag-helper {
   border-radius: 5px; 
   height:5px; 
   width: 5px; 
   border: solid black 3px; pointer: cursor;
}
.spectrum-slide  { 
	margin-left: 10px; 
	width: 30px; 
}
.spectrum-slide-helper { 
	width: 40px; 
	height: 5px; 
	background: white; 
	opacity: .8; 
	left:-5px; 
}
.spectrum-element {
	width: 30px;
	height: 30px;
	border: solid 2px #333;
	border-radius: 3px;
}
