.spectrum-color { 
	position:relative; 
}
.spectrum-g1 {
    background-image: -webkit-gradient(linear 0 0, 100% 0, from(#FFF), to(rgba(204, 154, 129, 0)));
    background-image: -moz-linear-gradient(left, #fff, rgba(204, 154, 129, 0));
    background-image: -moz-gradient(left, #fff, rgba(204, 154, 129, 0));
}
.spectrum-g2 {
    background-image: -webkit-gradient(linear, 0 100%, 0 0, from(#000000), to(rgba(204, 154, 129, 0)));
    background-image: -moz-linear-gradient(center bottom, #000, rgba(204, 154, 129, 0));
    background-image: -moz-gradient(center bottom, #000, rgba(204, 154, 129, 0));
}
.spectrum-drag-helper { 
	position:absolute; 
	top:0; 
	left: 0;
    -webkit-user-select:none;
}
.spectrum-color { 
	float:left;
}
.spectrum-container { 
	position:absolute; 
	top:0; 
	left:0; 
}
.spectrum-slide {
    float:left;
    background: -webkit-linear-gradient(bottom, #ff0000 0%, #ff00ff 13%, #8000ff 25%, #0040ff 38%, #00FFFF 50%, #00FF40 63%, #0BED00 75%, #FFFF00 88%, #FF0000 100%); 
    background: -moz-linear-gradient(bottom, #ff0000 0%, #ff00ff 13%, #8000ff 25%, #0040ff 38%, #00FFFF 50%, #00FF40 63%, #0BED00 75%, #FFFF00 88%, #FF0000 100%);
    position:relative;
}
.spectrum-slide-helper { 
	position: absolute; 
	top:0; 
	-webkit-user-select: none;
	-moz-user-select: none;
	-user-select: none;
}

/* Themable options */
.spectrum-g2, .spectrum-slide { 
	width: 200px; 
	height: 200px; 
}
.spectrum-container { 
	background-color: #333; 
	padding:10px; 
	border-radius: 5px; 
}
.spectrum-drag-helper {
   border-radius: 5px; 
   height:5px; 
   width: 5px; 
   border: solid black 3px; pointer: cursor;
}
.spectrum-slide  { 
	margin-left: 10px; 
	width: 30px; 
}
.spectrum-slide-helper { 
	width: 40px; 
	height: 5px; 
	background: white; 
	opacity: .8; 
	left:-5px; 
}
.spectrum-element {
	width: 30px;
	height: 30px;
	border: solid 2px #333;
	border-radius: 3px;
}

#console { font: monospace; margin-top:10px; position:absolute; bottom:0; left:0; }
