/***
Spectrum: The No Hassle Colorpicker
https://github.com/bgrins/spectrum

Author: Brian Grinstead
License: MIT
***/

.sp-container { 
    position:absolute; 
    top:0; 
    left:0; 
    display:inline-block;
}
.sp-container.sp-flat {
    position: relative;
}

/* 
   Keep square proportions using percentage widths.
   Basic aspect ratio technique modified from:
   http://ansciath.tumblr.com/post/7347495869/css-aspect-ratio
*/
.sp-top {
  position:relative; 
  width: 100%;
  display:inline-block;
}
.sp-top-inner {
   position:absolute; top:0; left:0; bottom:0; right:0;
}
.sp-color { 
    position: absolute;
    top:0;left:0;bottom:0;right:20%;
}
.sp-hue {
    position: absolute;
    top:0;right:0;bottom:0;left:83%;
}
.sp-fill { 
    margin-top: 80%;  /* Same as sp-color width */
}
.sp-sat, .sp-val { 
    position: absolute; 
    top:0; 
    left:0; 
    right:0; 
    bottom:0; 
}

/* Don't allow text selection */
.sp-replacer, .sp-preview, .sp-dragger, .sp-slider , .sp-container.sp-dragging .sp-input, .sp-container button  { 
    -webkit-user-select:none; user-select: none; 
}

.sp-range-container input { width: 80%; }
.sp-replacer {
    display: inline-block;
    vertical-align: baseline;
    margin-left: 1px;
    margin-right: 2px;
    margin-bottom: -1px;
    width: 1em;
    height: 1em;
    background-image: url(checker.png);
    background-repeat: no-repeat;
    border: 1px solid rgba(128, 128, 128, 0.6);
}

.sp-replacer:hover {
    border: 1px solid rgba(64, 64, 64, 0.8);
}
.sp-preview { width:100%; height:100%;}

/* Replacer (the little preview div that shows up instead of the <input>) 
.sp-replacer {
    margin:0;
    border-radius: 5px;
    overflow:hidden;
    cursor:pointer;
    padding: 4px;
    display:inline-block;
    zoom: 1;
    *display: inline;
}
.sp-dd { 
    padding: 2px 0;
    height: 16px; 
    line-height: 16px;
    float:left;
    font-size:10px;
}
.sp-preview {
    width:25px;
    height: 20px;
    border: solid 1px #ddd;
    margin-right: 5px;
    float:left;
}*/

.sp-show-small, .sp-small .sp-hide-small { display:none; }
.sp-small .sp-show-small { display:inherit; }

.sp-container.sp-input-disabled .sp-input-container,
.sp-container.sp-flat .sp-input-container div {
    display:none;
}
.sp-input-container {
    margin-top: 4px;
}
.sp-input-container div { float:right; }
.sp-input:focus { border: 1px solid orange; }
.sp-container.sp-flat .sp-input { width: 100%; padding:0; text-align: center; }

.sp-pallet { 
	margin:3px 0; 
	padding: 0;
}
.sp-pallet span {
	display: block;
	float:left;
	width: 30px;
	height: 15px; 
	margin: 3px;
	cursor: pointer;
	border:solid 2px transparent;
}
.sp-pallet span:hover, .sp-pallet span.sp-pallet-active {
    border-color: orange;
}  
.sp-pallet-disabled .sp-pallet { 
	display: none; 
}

/* Gradients for hue, saturation and value instead of images.  Not pretty... but it works */
.sp-sat {
    background-image: -webkit-linear-gradient(left, #FFF, rgba(204, 154, 129, 0));
    background-image: linear-gradient(left, #FFF, rgba(204, 154, 129, 0));
}
.sp-val {
    background-image: -webkit-linear-gradient(bottom, #000000, rgba(204, 154, 129, 0));
    background-image: linear-gradient(bottom, #000000, rgba(204, 154, 129, 0));
}

.sp-hue {
    background: -webkit-linear-gradient(top, #ff0000 0%, #ffff00 17%, #00ff00 33%, #00ffff 50%, #0000ff 67%, #ff00ff 83%, #ff0000 100%);
    background: linear-gradient(top, #ff0000 0%, #ffff00 17%, #00ff00 33%, #00ffff 50%, #0000ff 67%, #ff00ff 83%, #ff0000 100%);
}

/* Clearfix hack */
.sp-cf:before, .sp-cf:after { content: ""; display: table; }
.sp-cf:after { clear: both; }
.sp-cf { *zoom: 1; }

.sp-dragger {
   border-radius: 5px; 
   height:5px; 
   width: 5px; 
   border: solid black 3px;
   cursor: pointer;
   position:absolute; 
   top:0; 
   left: 0;
}
.sp-slider { 
    position: absolute; 
    top:0; 
    cursor:pointer;
    height: 5px; 
    width: 110%;
    margin-left: -5%;
    background: white; 
    opacity: .8; 
}

/* Basic display options (colors, fonts, global widths) */
.sp-container {
    padding: 10px;
    width: 200px;
}
.sp-container.sp-small {
    width: 160px;
    padding: 5px;
    border-radius: 5px;
}
.sp-input {
   height: 20px;
   font-size: 16px;
   border: 1px inset;
   padding: 1px 5px;
   margin: 0;
   width: 120px;
   margin-top: 1px;
   background:transparent;
   border-radius: 3px;
}
.sp-small .sp-pallet span {
	width: 16px;
}

/* Devtools theme */
.sp-container.sp-dev {
    background: rgba(230, 230, 230, 1) !important;
    border:1px solid #646464;
    border-radius:0;
}
